devel/
logs/
build/
bin/
lib/
install/
.obsidian/
log/
.vscode/*
.vscode

# Emacs
.#*

# Catkin custom files
CATKIN_IGNORE
docker/.docker_data/
docs/
scripts/
.claude/
CLAUDE.md
debug_images/src/mark_five_arm/stl/
