[submodule "src/bno08x_ros2_driver"]
	path = src/bno08x_ros2_driver
	url = https://github.com/bnbhat/bno08x_ros2_driver.git
[submodule "src/src/ros2_icm20948"]
	path = src/src/ros2_icm20948
	url = https://github.com/norlab-ulaval/ros2_icm20948.git
